<h1>Cocktails#new</h1>
<%= form_for(@cocktail, html: { multipart: true }) do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :picture %>
    <%= f.file_field :picture %>
  </p>
  <%= f.submit %>
<% end %>

<p><%= link_to 'back to cocktails\' list', cocktails_path %></p>
